.img-box {
  margin: 0 auto 20px;
  @include flex();

  & > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;

    @media screen and (min-width: $mobile) {
      width: 150px;
      height: 150px;
    }

    @media screen and (min-width: $tablet) {
      width: 250px;
      height: 250px;
      margin-right: 0px;
    }
  }
}

.name-mobile-box {
  display: inline-block;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.name-mobile {
  @include font(700, 24px, 1.25);
  margin-bottom: 10px;

  @media screen and (min-width: $mobile) {
    font-size: 28px;
  }
}

.small-titles-mobile {
  @include font(500, 14px, 1.25);
}

.aside-titles {
  @include font(700, 20px);
  margin-bottom: 10px;

  @media screen and (min-width: $mobile) {
    font-size: 22px;
  }
}

.contacts-box {
  @include flex(left);
  margin-bottom: 10px;
}

.contacts-icon {
  fill: $white-color;
  margin-right: 10px;

  &.linkedin {
    border-radius: 2px;
    background-color: $white-color;
  }
}

.contacts-link {
  color: $ligth-grey-color;
}

.skills-item {
  display: grid;
  grid-template-columns: 20px 2fr 1fr;
  column-gap: 10px;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.skills-icon-check {
  fill: $green-color;
}

.skills-double-box {
  @include flex(left);
}

.skills-text {
  @include font(500, 16px);
  color: $ligth-grey-color;
}

.soft-skills-item {
  @extend .skills-item;
  grid-template-columns: 20px 1fr;
}

.languages-skills-item {
  @extend .skills-item;
  grid-template-columns: 20px 1fr 1fr;
}
