<div class="container projects">
  <div class="sub-section">
    <h5 class="small-titles not-mobile">Full Stack Developer</h5>
    <h1 class="name not-mobile">Roman Voznyy</h1>
    <ul class="summary-list">
      <li class="summary-item">
        <span class="small-titles summary">Credo:</span>
        <span class="description main">Less words, more actions</span>
      </li>
      <li class="summary-item">
        <span class="small-titles summary">Goals:</span>
        <span class="description main">
          To be useful in achieving company's goals
        </span>
      </li>
    </ul>
  </div>

  <!-- 
      -->

  <!--   projects    -->
  <div class="sub-section">
    <h3 class="big-titles">Projects</h3>
    <h4 class="middle-titles">Teamwork</h4>
    <ul class="project-list js-team"></ul>

    <h4 class="middle-titles">Own works</h4>
    <ul class="project-list js-own"></ul>
  </div>

  <!-- work experience-->
  <div class="sub-section">
    <h3 class="big-titles">Work Experience</h3>

    <div class="details sub-section">
      <span class="dates">December 2020 - up to now | Ukraine</span>
      <h4 class="middle-titles">IT Freelance</h4>
      <p class="small-titles">Front-end developer</p>
      <p class="description">Projects on the freelance exchange.</p>
    </div>

    <div class="details">
      <span class="dates">July 2004 - up to now | Ukraine</span>
      <h4 class="middle-titles">
        Insurance Companies (TAS, Garant-Auto, Unives, PZU)
      </h4>
      <p class="small-titles">Underwriter, head of the department</p>
      <p class="description">
        Risk analysis, creation and updating of almost all types of insurance
        products. Development of technical specifications for front and back
        office programs.
      </p>
    </div>
  </div>

  <!-- education-->

  <div class="sub-section">
    <h3 class="big-titles">Education</h3>
    <div class="details">
      <span class="dates">Septermber 1999 - June 2004 | Ukraine</span>
      <h4 class="middle-titles">V.N.Karazin's Kharkiv National University</h4>
      <h5 class="small-titles">Economic cybernetics</h5>
    </div>
  </div>
  <div>
    <h3 class="big-titles">Additional Education</h3>
    <div class="sub-section details with-sertificate">
      <div>
        <span class="dates">April 2020 - April 2021 | Ukraine</span>
        <h4 class="middle-titles">GO IT</h4>
        <h5 class="small-titles">Full Stack Developer</h5>
      </div>
      <img
        class="sertificate"
        src="./images/Sertif_Go_IT.JPG"
        alt="sertificate-GoIT"
      />
    </div>
    <div class="details">
      <span class="dates">February 2019 - June 2019 | Ukraine</span>
      <h4 class="middle-titles">Prog.kiev.ua</h4>
      <h5 class="small-titles">Java Developer (Java Start, Java OOP)</h5>
    </div>
  </div>
</div>
